@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-spin-fast {
    animation: spin 0.5s linear infinite; /* Faster spin */
  }
}
@font-face {
  font-family: "Strasua";
  src: url("/fonts/Strasua.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Strasua', sans-serif;  */
}

/* custom container  */
.wrapper {
  width: 100%;
  max-width: 1800px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.container-lg {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}
.container-xl {
  width: 70%;
  max-width: 1800px;
  margin: 0 auto;
}
.container-2xl {
  width: 60%;
  margin: 0 auto;
}

.testimonial__slider {
  padding: 35px 0px !important;
}
.services__slider {
  padding: 20px 0px !important;
}

.services__slider .swiper-slide {
  display: flex;
  justify-content: center;
}
.testimonial__slider .swiper-slide {
  display: flex;
  justify-content: center;
}
